html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    min-width: 100%;
    height: auto;
}

section {
    padding: 50px 0px;
}

a {
    color: #111;
}

a:hover {
    color: #fff;
}

/* Header */
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-brand {
    color: rgb(222, 168, 235);
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transition: all  .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}
/* Header */ 

h1 {
    padding: 40px; 
}

form {
    padding: 1px 35px;
}